<div class="col s12">
  <div class="card horizontal">
    <div class="card-stacked" ng-hide="editable">
      <div class="card-content">
        <h5 class="m-t-none pos-rlt">
          <img ng-src="{{$ctrl.customer.picture.large}}">
          <span class="pull-left v-align-top capitalize">
            {{$ctrl.customer.name | fullName}}
          </span>
          <div class="pos-abt right-0 top-0">
            <a href="" class= red-text text-darken-4" ng-click="$ctrl.customer = null">
              <i class="material-icons">close</i>
            </a>
          <div>
        </h5>
        <ul class="collection">
          <li class="collection-item capitalize">Gender: {{$ctrl.customer.gender}}</li>
          <li class="collection-item">Age: {{$ctrl.customer.dob.age}}</li>
          <li class="collection-item">Nationality: {{$ctrl.customer.nat}}</li>
          <li class="collection-item">Login: {{$ctrl.customer.login.username}}</li>
          <li class="collection-item">Email: {{$ctrl.customer.email}}</li>
          <li class="collection-item">Phone: {{$ctrl.customer.phone}}</li>
          <li class="collection-item">Cell: {{$ctrl.customer.cell}}</li>
          <li class="collection-item">Street: {{$ctrl.customer.location.street}}</li>
          <li class="collection-item capitalize">City: {{$ctrl.customer.location.city}}, State: {{$ctrl.customer.location.state}}, Zip: {{$ctrl.customer.location.postcode}}</li>
        </ul>
      </div>
      <div class="card-action">
        <a href="" ng-click="editable = !editable">Change Info</a>
      </div>
    </div>
    <div class="card-stacked" ng-show="editable">
      <div class="card-content">
        <div class="row">
          <div class="input-field col s6">
            <input id="first_name" type="text" ng-model="$ctrl.customer.name.first">
            <label for="first_name" class="active">First Name</label>
          </div>
          <div class="input-field col s6">
            <input id="last_name" type="text" ng-model="$ctrl.customer.name.last">
            <label for="last_name" class="active">Last Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="age" type="text" ng-model="$ctrl.customer.dob.age">
            <label for="age" class="active">Age</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="nat" type="text" ng-model="$ctrl.customer.nat">
            <label for="nat" class="active">Nationality</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="login" type="text" ng-model="$ctrl.customer.login.username">
            <label for="login" class="active">Login</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="email" type="text" ng-model="$ctrl.customer.email">
            <label for="email" class="active">Email</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="phone" type="text" ng-model="$ctrl.customer.phone">
            <label for="phone" class="active">Phone</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="cell" type="text" ng-model="$ctrl.customer.cell">
            <label for="cell" class="active">Cell</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="street" type="text" ng-model="$ctrl.customer.location.street">
            <label for="street" class="active">Street</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s4">
            <input id="city" type="text" ng-model="$ctrl.customer.location.city">
            <label for="city" class="active">City</label>
          </div>
          <div class="input-field col s4">
            <input id="state" type="text" ng-model="$ctrl.customer.location.state">
            <label for="state" class="active">State</label>
          </div>
          <div class="input-field col s4">
            <input id="postcode" type="text" ng-model="$ctrl.customer.location.postcode">
            <label for="postcode" class="active">Postcode</label>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a href="" ng-click="editable = !editable">
          <span ng-show="editable">Show Info</span>
          <span ng-hide="editable">Change Info</span>
        </a>
      </div>
    </div>
  </div>
</div>