<div class="row">
  <div class="col s12">
    <table class="highlight">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
        </tr>
      </thead>
      <tbody>
        <tr class="cursor-pointer" ng-repeat="c in $ctrl.customers" ng-click="$ctrl.selectCustomer(c)">
          <td>{{$index + 1}}</td>
          <td class="capitalize" ng-bind="c.name | fullName"></td>
          <td ng-bind="c.email"></td>
          <td ng-bind="c.phone"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>